.field{
  width: 350px;
  padding-bottom: 20px;
  box-shadow: aliceblue;
}

.colour-border{
  border: 3px solid green;
  padding: 10px;
}

body {
  background-color: darkseagreen;
}

.header{
  padding: 30px;
}